#sidebar-wrapper{
    min-height: 100vh !important;
    width: 100vw;
    margin-left: -1rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}
#sidebar-wrapper .sidebar-heading {
    padding: 1rem 1.25rem;
    font-size: 1.2rem;
}

#page-content-wrapper {
    min-width: 0;
    width: 100%;
}

.space{
    display: block;
    padding: 20px 20px;
    text-decoration: none;
    color: #fff;
    text-align: center;
    cursor: pointer;
    width: 100%;
    float: right;
    transition: .5s;
}

.space:hover {
    border-radius: 10px;
    color: #fff;
    text-decoration: none;
    background: #007bff; /*#3282ff*/
    box-shadow: inset 28px 28px 56px #0051a8,
                inset -28px -28px 56px #00a5ff;
}